<h2>Comment:</h2>
  
<div class="post_body">
	<br>
	<%=h @comment.body %>
	<br><br>
</div>

<br>
<% if !current_user.nil? %>
<%= link_to 'Click to Edit', edit_comment_path(@comment) %> |
<%= link_to 'Home', posts_path %>
<% end %>